*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #45c4ff;
}
.container{
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    padding: 30px;
    margin: 100px auto 0px;
}
.container h1{
    font-size: 25px;
    color: #ff4593;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0px;
}
.quiz h2{
    font-size: 18px;
    color: #3a3939;
    font-weight: 600;
}
.btn{
    background-color: #fff;
    color: #3a3939;
    width: 100%;
    font-weight: 500;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background-color: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background-color: #ff4593;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: none;
    padding: 10px;
    margin: 20px auto 0px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct{
    background-color: #adff2f;
}
.incorrect{
    background-color: #fa5252;
}

